body{
	text-align: center;
	color : hsl(0, 0%, 100%) ;
	background-image: url("https://wallpaperaccess.com/full/1560878.jpg")!important;
	background-repeat: no-repeat;
	background-size: cover;
}
.image{
	margin: 20px;
	margin-right: 20px;
	margin-left: 20px;
	width : 25%;
	border-radius: 80%;
}
